body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.main-container {
    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: #fff;
    height: auto;
}

.item{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #ffffff;
    padding: 20px;
    border-collapse: collapse;
    border: 1px dotted #ccc;
    min-height: 200px;
    transition: all 0.2s ease-in-out;
}
.item:hover{
    transform: scale(1.05);
}