.superior{
    background-color: brown;
    height: 100px;
    width: 70px;
    border-radius: 100px 0px;
    top: 40px;
    left: 120px;
    position: absolute;
    transform: rotate(-70deg);
    z-index: 0;
}
.planta{
    width: 150px;
    height: 80px;
    background-color: brown;
    position: absolute;
    top: 80px;
    left: 75px;
    border-radius: 50px;
    z-index: 1;
}
.planta.dos{
    top: 120px;
    width: 200px;
    left: 50px;
    z-index: 2;
}
.planta.tres{
    top: 160px;
    width: 250px;
    left: 25px;
    z-index: 3;
}
.ojo{
    background-color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 120px;
    left: 100px;
    z-index: 4;
    border-radius: 50%;
}
.ojo::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    left: 5px;
    top: 5px;
}
.boca{
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 30px;
    height: 20px;
    top: 160px;
    left: 130px;
    border-radius: 0 0 50px 50px;
}
.boca::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    top: 7px;
    border-radius: 0 0 1px 1px;
    background-color: black;
}