body{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}
button{
    background-color: white;
    color: black;
    border: white;
    font-size: 28px;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    
}
button:hover{
    transform: scale(1.02);
}